.plugin.obsidian-unicode-search {
	--unicode-search-scaling-factor: 1em
}

.plugin.obsidian-unicode-search.result-item {
	display: flex;
	gap: var(--unicode-search-scaling-factor);
	justify-content: flex-start;
	align-items: center;
}

.plugin.obsidian-unicode-search.result-item > .character-preview {
	font-size: calc(var(--unicode-search-scaling-factor) * 1.5);
	width: calc(var(--unicode-search-scaling-factor) * 1.75);

	display: flex;
	justify-content: center;
	align-items: center;
}

.plugin.obsidian-unicode-search.result-item > .character-name {
	padding-left: calc(var(--unicode-search-scaling-factor) * 1.5);
	border-left: var(--prompt-border-width) solid var(--prompt-border-color);
}
