.plugin.unicode-search {
	&.result-item {
		display: flex;
		gap: 1em;
		justify-content: flex-start;
		align-items: center;

		& > .character-preview {
			font-size: 1.5em;
			width: 1.75em;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		& > .character-match {
			flex-grow: 1;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			column-gap: 1em;
			row-gap: 0.05em;

            min-height: 2.5em;

			@media (min-width: 40em) {
    			flex-direction: row;
                justify-content: space-between;
                align-items: center;
			}

			& > .character-codepoint {
				color: var(--code-normal);
				font-family: var(--font-monospace);
				font-size: var(--code-size);
				letter-spacing: 0.055em;
				text-transform: uppercase;

				@media (min-width: 40em) {
					border-radius: var(--radius-s);
					background-color: var(--code-background);
					padding: 0.1em 0.3em;
				}

				&::before {
					content: "U+";
					letter-spacing: 0.15em;
				}

				& > .suggestion-highlight {
					color: var(--text-normal);
				}
			}
		}

		& > .detail {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: .5em;

			& > .pinnable {
				font-size: 1.3em;
			}

			& > .attributes {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: var(--font-smallest);
				width: 1.25em;
			}
		}
	}

	& .icon {
		color: var(--icon-color);
		opacity: var(--icon-opacity);

		&:hover {
			color: var(--icon-color-hover);
			opacity: var(--icon-opacity-hover);

			&.interactive {
				color: var(--interactive-accent-hover);
			}
		}

	}

}
