.plugin.obsidian-unicode-search {
	--scale: 1em;

	&.result-item {
		display: flex;
		gap: 1em;
		justify-content: flex-start;
		align-items: center;

		& > .character-preview {
			font-size: 1.5em;
			width: 1.75em;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		& > .character-name {
			padding-left: calc(1em * 1.5);
			border-left: var(--prompt-border-width) solid var(--prompt-border-color);
			flex-grow: 1;
		}

		& > .attributes {
			display: flex;
			gap: calc(.5em);
			justify-content: flex-end;
			align-items: center;

			& > .pin-order {
				color: var(--text-accent);
			}

			& > .last-used {
				color: var(--text-muted);
			}

			& > .usage-count {
				color: var(--text-muted);
			}
		}
	}
}
