.plugin.obsidian-unicode-search {
	&.result-item {
		display: flex;
		gap: 1em;
		justify-content: flex-start;
		align-items: center;

		& > .character-preview {
			font-size: 1.5em;
			width: 1.75em;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		& > .character-name {
			padding-left: 1.5em;
			border-left: var(--prompt-border-width) solid var(--prompt-border-color);
			flex-grow: 1;
		}

		& > .detail {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: .5em;

			& > .pinnable {
				font-size: 1.3em;
			}

			& > .attributes {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: .8em;
			}
		}
	}

	& .icon {
		color: var(--icon-color);
		opacity: var(--icon-opacity);

		&:hover {
			color: var(--icon-color-hover);
			opacity: var(--icon-opacity-hover);

			&.interactive {
				color: var(--interactive-accent-hover);
			}
		}

	}

}
